* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.about {
    width: 100%;
    height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .text {
    width: 70%;
}