* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.gallery {
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.gallery img {
    width: 1200px;
}

.gallery .pack {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery .pack img {
    width: 450px;
    margin-top: 20px;
}